<!DOCTYPE html>

    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12">
                <button class="btn btn-xs btn-primary pull-right"
                    type="button" ui-sref="app.menu">
                    Back to Menu
                </button>
                <div class="media">
                <div class="media-left media-middle">
                  <a href="#">
                    <img class="media-object img-thumbnail"
                    ng-src={{dish.image}} alt="Uthappizza">
                  </a>
                </div>
                <div class="media-body">
                  <h2 class="media-heading">{{dish.name}}
                    <span class="label label-danger">{{dish.label}}</span>
                    <span class="badge">{{dish.price | currency}}</span></h2>
                    <p>{{dish.description}}</p>                        
                </div>
              </div>
            </div>
            <div class="col-xs-9 col-xs-offset-1">
                <h3>Customer Comments</h3>
                <label for="sortby">Sort by:</label>
                <input type="text" id="sortby" ng-model="myText">
              <blockquote ng-repeat="comments in dish.comments | orderBy: myText">
                <p>{{comments.rating}} Stars</p>
                <p>{{comments.comment}}</p>
                <footer>{{comments.author}}, {{comments.date | date: 'mediumDate'}}</footer>
              </blockquote>

            </div>

            <div class="row row-content" ng-controller="DishCommentController">
                <div class="row">
                    <div class="col-xs-9 col-xs-offset-2" ng-if="commentForm.$valid">
                        <blockquote>
                            <p>{{commentform.rating}} Stars</p>
                            <p>{{commentform.comments}}</p>
                            <footer>{{commentform.yourname}}</footer>
                        </blockquote>
                    </div>
                </div>
                
                <div class="row">
                    <form class="form-horizontal" name="commentForm" ng-submit="submitComment()" novalidate>
                        <div class="form-group" >
                            <label for="yourname" class="col-sm-2 control-label"  >Your name</label>
                            <div class="col-sm-10" ng-class="{ 'has-error' : commentForm.yourname.$error.required && !commentForm.yourname.$pristine }">
                                <input type="text" class="form-control" id="yourname" name="yourname" placeholder="Enter Your Name"
                                ng-model="commentform.yourname" required>
                                <span ng-show="commentForm.yourname.$error.required && !commentForm.yourname.$pristine" class="help-block">Your First name is required.</span>
                            </div>
                        </div>
                        <div class="form-group" ng-init="commentform.rating='5'">
                            <label for="rating" class="col-sm-2 control-label">Rating</label>
                            <div class="col-sm-10">
                                <div class="col-sm-1">
                                    <input type="radio" name="rating" id="rating1" ng-model="commentform.rating" value="1" class="radio">1
                                </div>
                                <div class="col-sm-1">
                                    <input type="radio" name="rating" id="rating2" ng-model="commentform.rating" value="2" class="radio">2
                                </div>
                                <div class="col-sm-1">
                                    <input type="radio" name="rating" id="rating3" ng-model="commentform.rating" value="3" class="radio">3
                                </div>
                                <div class="col-sm-1">
                                    <input type="radio" name="rating" id="rating4" ng-model="commentform.rating" value="4" class="radio">4
                                </div>
                                <div class="col-sm-1">
                                    <input type="radio" name="rating" id="rating5" ng-model="commentform.rating" value="5" class="radio" checked>5
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="comment" class="col-sm-2 control-label">Your Comments</label>
                            <div class="col-sm-10" ng-class="{ 'has-error' : commentForm.comments.$error.required && !commentForm.comments.$pristine }" >
                                <textarea name ="comments" id="comments" class="form-control" rows="12"
                                    ng-model="commentform.comments" required>
                                </textarea>
                                <span ng-show="commentForm.comments.$error.required && !commentForm.comments.$pristine" class="help-block">Your Comment is required.</span>
                            </div>
                            
                        </div> 

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Comment</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>

        

    </div>


